* {margin:0; padding:0}
body{
    background-image: url(../assets/images/textura\ garaje.jpg);
    background-repeat: no-repeat;
    background-size: 100vmax;
    font-family: Encode Sans Expanded;
    
}
.gear{
    position: absolute;
    width: 84px;
    height: 81px;
    left: 17%;
    top: 6px;
    
}
.menu{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 10px;
    top: 0px;
    
    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.61em;

    color: #526164;
    
} 

    
.poligona i{
    font-size: 20px;
    margin-top: 5px;
    
}
.poligona h3{
    margin-bottom: 0px;
}
.poligona{
    position: absolute;
    width: 60%;
    height: 81px;
    top: 0px;
    left: 0px;
    text-align: center;

    background: #24C0EB;
    box-shadow: 10px 6px 12px rgba(0, 0, 0, 0.25);
    -webkit-clip-path: polygon(100% 1%, 0 100%, 0 0);
    clip-path: polygon(100% 1%, 0 100%, 0 0);
    font-size: 30px;
} 

h1.logo {
    width: 5em;
    height: 1em;
    

    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 2.2em;

    color: #FFFFFF;

    text-shadow: 3px 3px 1px #152427;
   
}

 .poligonb{
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0vh;
    top: 0vh;
    display: flex;
    justify-content: flex-end;

    background: #526164;
    box-shadow: -1px 6px 12px rgba(0, 0, 0, 0.25);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%); 
} 
.welcome{
    padding-top: 120px;
    padding-bottom: 120px;
}
.info{
    margin: 0 auto;
    width: 40vh;
    margin-bottom: 50px;

    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: normal;
    text-align: center;

    color: #FFFFFF;
}
.intro{
    margin: 0 auto;
    width: 40vh;
    

    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-decoration-line: underline;
    text-align: center;

    color: #FFFFFF;
}

.login{
    
    display: flex;
    
    
}

.login form{
    margin: 0 auto;
    
}

.login form * {
    margin: 4 auto;
}

.login form ::placeholder {
    color: white;
}

.login input{
    
    background: linear-gradient(0deg, #7E959B 0%, rgba(0, 0, 0, 0.2) 100%), #7E959B;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 41px;
    
    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;

    color: #FFFFFF;

    text-shadow: 0px 1px 7px #000000;

    
}

.entrar{
    
    background: linear-gradient(180deg, #6CB356 0%, #6CB356 13.81%, rgba(94, 194, 64, 0.970135) 70.72%, rgba(94, 194, 64, 0.969072) 98.34%), #5EC240;
    border-radius: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    

    text-align: center;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 41px;

    font-family: Encode Sans Expanded;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;

    color: #FFFFFF;

    text-shadow: 0px 1px 7px #000000;
}

/* ------------------------ INICIO usersList.php ------------------------ */

.user-list {
    background: linear-gradient(180deg, #526164 0%, rgba(80, 104, 109, 0.403315) 59.67%, rgba(162, 178, 182, 0) 100%), #526164;
    width: 50%;
    margin: 0 auto;
}

.list-item {
    padding: 20px;
    background: linear-gradient(180deg, #7E959B 0%, rgba(0, 0, 0, 0.2) 100%), #7E959B;
    margin: 10px;
    color: whitesmoke;
    border-radius: 5px;
}

/* ------------------------ FINAL usersList.php ------------------------ */



/* ------------------------ INICIO register.php ------------------------ */

h1 {
    letter-spacing: 0.27em;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

.register-form form label {
    display: block;
    text-align: center;
}

.register-form ::placeholder {
    color: whitesmoke;
    text-shadow: 0px 0px 7px rgba(0,0,0,1);
}

.register-form span {
    width: 100%;
    height: 100px;
}

.register-form span:before {
    content: ' ';
    position: relative;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%), #FFFFFF;
    display: block;
    padding: 15px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    top: 54px;
    z-index: -1;
}

.register-form input {
    font-family: Encode Sans Expanded;
    width: 80%;
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
    border: none;
    background: linear-gradient(180deg, #7E959B 0%, rgba(0, 0, 0, 0.2) 100%), #7E959B;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: 0px 0px 7px rgba(0,0,0,1);
}

.register-form input:focus {
    background: #7E959B;
    text-shadow: none;
    color: whitesmoke;
}


.register-form .entrar {
    margin: 13px auto;
}



/* ------------------------ FINAL register.php ------------------------ */